@model SistemaContas.Presentations.Models.EditCategoryModel

@{
    ViewData["Title"] = "Edição da Categoria";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.IdCategory)

    <div class="text-center mb-2">
        <h3>Edição de Categoria</h3>
    </div>

    <div class="mb-2">
        <div class="row">
            <div class="col-md-6">
                <label><strong>Nome da Categoria:</strong></label>
                @Html.TextBoxFor(x => x.Name, new {@class="form-control", placeholder="Digite um nome para sua categoria."})
                <span class="text-danger">
                    @Html.ValidationMessageFor(x => x.Name)
                </span>
            </div>
        </div>
    </div>

    <div class="mb-2 row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <input type="submit" value="Salvar" class="btn btn-dark" />
                </div>
                <div class="col-md-6 text-end">
                    <a href="/Category/Query" class="btn btn-danger text-decoration-none">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
}