@model List<SistemaContas.Presentations.Models.CategoryQueryModel>

@{
    ViewData["Title"] = "Consultar Categoria";

    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@if (Model.Count > 0)
{
    <div class="table-responsive mb-3" style="background-color:lightyellow">
        <table class="table table-hover grid_datatable">
            <thead class="table-dark">
                <tr>
                    <th>
                        <h4>Categorias Cadastradas</h4>
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td class="text-black text-center">
                            <a href="/Category/Edit/@item.IdCategory" class="btn btn-outline-warning btn-sm">
                                Editar
                            </a>

                            <a href="/Category/Delete/@item.IdCategory" class="btn btn-outline-danger btn-sm"
                               onclick="return confirm('Tem certeza? Vai fazer merda.')">
                                Excluir
                            </a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>

    </div>

    <div class="mb-2 row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-6 text-lg-start text-black">
                    <a href="/Category/Register" type="button" class="btn btn-dark">
                        <i class="bi bi-plus-circle-fill"></i> Adicionar
                    </a>
                </div>
                <div class="col-lg-6 text-lg-end text-black">
                    <a href="/Dashboard/Index" type="button" class="btn btn-danger">
                        Cancelar
                    </a>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="text-center">
        <h3>Você ainda não possui categorias cadastradas.</h3>

    </div>
}
