@model SistemaContas.Presentations.Models.BillQueryModel

@{
    ViewData["Title"] = "Consulta de Contas";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h4>Consulta de Contas</h4>

@using(Html.BeginForm())
{
    <div class="row mb-2">
        <div class="col-md-6 mb-2 d-flex align-items-center justify-content-center">
            <label><strong>Data Início:</strong></label>
            @Html.TextBoxFor(x => x.StartDate, new {@class="form-control", @type="date", placeholder="Insira a data de início"})
            <span class="text-danger">
                @Html.ValidationMessageFor(x=> x.StartDate)
            </span>
        </div>

        <div class="col-md-6 d-flex align-items-center justify-content-center mb-2">
            <label><strong>Data Fim:</strong></label>

            @Html.TextBoxFor(x => x.EndDate, new {@class="form-control", @type="date", placeholder="Insira a data de fim"})
            <span class="text-danger">
                @Html.ValidationMessageFor(x=> x.EndDate)
            </span>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-6 text-lg-start text-black">
                    <a href="/Dashboard/Index" type="button" class="btn btn-danger">
                        Cancelar
                    </a>
                </div>
                <div class="col-lg-6 text-lg-end text-black">
                    <a href="/Bill/Query" type="button" class="btn btn-dark">
                        Pesquisar
                    </a>
                </div>
            </div>
        </div>
    </div>

}