@{
    //define a página de layout que será herdada.
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <h4>Seja bem vindo!</h4>
        </div>
    </div>
</div>