@using Newtonsoft.Json
@using SistemaContas.Presentations.Models

@{
    ViewData["Title"] = "Dashboard";


    //define a página de layout que será herdada.
    Layout = "~/Views/Shared/MainLayout.cshtml";

    ////ler os dados contidos no cookie de autenticação
    //var data = User.Identity.Name;

    ////descerealizar os dados do usuário. De json para um objeto.
    //var userModel = JsonConvert.DeserializeObject<UserModel>(data);
}

<h2>Controle de contas</h2>
<h4>Resumo</h4>
<hr />

<form>
    <div class="row mb-2">
        <div class="col-md-3">
            <input type="date" class="form-control" />
        </div>

        <div class="col-md-3">
            <input type="date" class="form-control" />
        </div>

        <div class="col-md-3">
            <input type="submit" class="btn btn-warning" value="Pesquisar Contas" />
        </div>
    </div>
</form>

<div class="row mb-2">
    <div class="col-md-6">
        <h5>Contas a Receber</h5>
        <p>Total: R$ 0,00</p>

        <div class="table-responsive mt-2">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th>Categoria</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-6">
        <h5>Contas a Pagar</h5>
        <p>Total: R$ 0,00</p>

        <div class="table-responsive mt-2">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th>Categoria</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

