@using Newtonsoft.Json
@using SistemaContas.Presentations.Models

@{
    //define a página de layout que será herdada.
    Layout = "~/Views/Shared/MainLayout.cshtml";

    ////ler os dados contidos no cookie de autenticação
    //var data = User.Identity.Name;

    ////descerealizar os dados do usuário. De json para um objeto.
    //var userModel = JsonConvert.DeserializeObject<UserModel>(data);
}

<h4>Seja bem vindo!</h4>
<hr />
